$white: #f4f5f9;
$orange: #ff4b2b;
$grey: #6a6a6a;

$gradColor1: #1d976c;
$gradColor2: #93f9b9;

$tomato1: #dd5e89;
$tomato2: #f7bb97;

$bg1: linear-gradient(to right, $tomato1, $tomato2);
$bg2: linear-gradient(to right, #ff4b2b, #ff416c);
