.col-16 {
  flex: 100%;
  @mixin atMedium {
    flex: 16.6666%;
  }
}
.col-20 {
  flex: 100%;
  @mixin atSmall {
    flex: 50%;
  }
  @mixin atMedium {
    flex: 20%;
  }
}

.col-25 {
  flex: 100%;
  @mixin atSmall {
    flex: 50%;
  }
  @mixin atMedium {
    flex: 25%;
  }
}

.col-30 {
  flex: 100%;
  @mixin atSmall {
    flex: 50%;
  }
  @mixin atMedium {
    flex: 30%;
  }
}
.col-33 {
  flex: 100%;
  @mixin atSmall {
    flex: 50%;
  }
  @mixin atMedium {
    flex: 33.333%;
  }
}

.col-50 {
  flex: 100%;
  flex-wrap: wrap;
  @mixin atSmall {
  }
  @mixin atMedium {
    flex: 50%;
  }
}
.col-70 {
  flex: 100%;
  flex-wrap: wrap;
  @mixin atSmall {
  }
  @mixin atMedium {
    flex: 70%;
  }
}
.col-100 {
  flex: 100%;
}
