.image {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  &--long {
    height: 200px;
  }
  img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
