.btnLogin {
  display: inline-block;
  text-shadow: 2px 2px 4px #000000;
  text-transform: capitalize;
  position: relative;
  overflow: hidden;
  transition: background-color 500ms ease;
  animation: bounce 1s infinite alternate;
}
.btn:hover {
  color: orangered;
}
.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -10%;
  width: 0;
  height: 100%;
  background: #fff;
  transform: skewX(25deg);
  z-index: -99999;
  transition: width 0.5s;
}
.btn:hover::before {
  width: 120%;
}
