.nav {
  position: relative;
  background: #e3816f;
  position: fixed;
  width: 100%;
  height: 100px;
  padding: 5px;
  height: 80px;
  z-index: 9999;
  background-size: 150%;
  animation: bganimation 10s infinite alternate;
  @mixin atMedium {
    padding: 25px;
    height: 100px;
    z-index: 9999;
  }
  &__menu {
    position: relative;
  }
  &__logo {
    display: block;
    border: 1px solid #fff;
    width: 95px;
    margin-top: 20px;
    margin-left: 20px;
    position: absolute;
    top: 70%;
    transition: background-color 500ms ease;
    overflow: hidden;
    @mixin atMedium {
      display: inline;
      width: 135px;
      margin-top: 0;
      margin-left: 0;
      position: absolute;
      top: 55%;
    }
  }
  &__logo:hover {
    background: rgba(255, 255, 255, 0.2);
    color: $tomato1;
    a {
      color: $tomato1;
    }
  }
  &__logo::before {
    content: "";
    position: absolute;
    top: 0;
    left: -10%;
    width: 0;
    height: 100%;
    background-color: #fff;
    transform: skewX(25deg);
    z-index: -99999;
    transition: width 0.5s;
  }
  &__logo:hover::before {
    width: 120%;
  }
  ul {
    display: none;
    @mixin atMedium {
      display: block;
      position: relative;
      float: right;
      display: inline;
      margin-top: 8px;
    }
    @mixin atSVGA {
      margin-right: 30%;
    }
    @mixin atHD {
      margin-right: 10%;
    }
  }
  &__item {
    display: inline;
    padding: 0;
    margin: 0;
    a {
      display: inline-block;
      width: 150px;
      text-transform: capitalize;
      text-align: center;
      transition: background-color 500ms ease;
    }
    a:hover {
      color: white;
      background: rgba(255, 255, 255, 0.2);
    }
    @mixin atMedium {
      a {
        width: 100px;
      }
    }
    @mixin atLarge {
      a {
        width: 150px;
      }
    }
  }
  &__item:last-child {
    padding-right: 0;
  }
  &__signInUp {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 150px;
    transform: translateY(-50%);
    cursor: pointer;
    @mixin atSVGA {
      right: 3%;
    }
    @mixin atHD {
      right: 20px;
    }
    @mixin atFHD {
      right: 7%;
    }
    @mixin at4KUHD {
      right: 28%;
    }
  }
  &__login {
  }
  &__register {
  }
}
