.slider-courses {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  @mixin atMedium {
    padding-top: 40px;
  }
  &__item {
  }
  &__image-container {
    position: relative;
  }
  &__category {
    display: inline-block;
    text-align: center;
    text-transform: capitalize;
    width: 100px;
    position: absolute;
    top: -5px;
    left: -5px;
    background: $bg1;
    background-size: 150%;
    animation: bganimation 10s infinite alternate;
    z-index: 0;
    @mixin atSmall {
      width: 120px;
    }
    @mixin atMedium {
      width: 150px;
      top: 87%;
      z-index: 1;
    }
    @mixin atLarge {
      width: 150px;
      height: 30px;
      top: 90%;
      z-index: 11;
    }
  }
  &__title {
    line-height: 14px;
  }
  &__title:hover {
    background: rgba(255, 255, 255, 1);
  }
  a {
    font-weight: 400;
  }
  a:hover {
    color: orangered;
  }
  &__item {
    position: relative;
  }
  &__image {
    position: relative;
    div {
      position: relative;
    }
    div::before {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 2;
      display: block;
      content: "";
      width: 0;
      height: 0;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 100%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      opacity: 0;
    }
    div:hover::before {
      animation: circle 0.75s;
    }
  }

  &__totalTime {
    display: inline-block;
    margin-right: 10px;
  }
  &__totalLesson {
    display: inline-block;
  }
  &__initialPrice {
    text-decoration: line-through;
  }
}
